<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:mvc="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>VitaSing</title>

<!-- Bootstrap -->
<link  th:href="@{css/bootstrap.css}" rel="stylesheet" media="screen" />
<!-- custom -->
<link  th:href="@{css/custom.css}" rel="stylesheet" media="screen" />
<link  th:href="@{css/iconSocail.css}" rel="stylesheet" media="screen" />
<!-- script -->
<!-- <script type="text/javascript" th:src="@{jquery-3.1.1.min.js}"></script> -->


</head>

<body>

	<div class="margin-bottom-5px">
		<div class="bg-buy1-get1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-white text-uppercase text-center top-highlight">
							<strong>Buy 1, Get 1 half off </strong>select vitamins essentials
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="container">
		<div class="margin-bottom-5px">
			<div class="row">
				<div class="col-sm-4 ">
					<span class="free-shipping pull-left">FREE SHIPPING&nbsp;</span> <span
						class="free-shipping-lowercase"> on orders $49 or more*</span>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4 ">
					<span class="free-shipping pull-left">FREE CLICK &amp;
						COLLECT&nbsp; </span> <span class="free-shipping-lowercase"> on
						all orders over $20</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="header-upper">
				<div class="col-xs-6  col-md-2">
					<div class="header-selectors-wrapper">
						<div class="currency-selector">
							<select id="customerCurrency" name="customerCurrency"
								onchange="setLocation(this.value);">
								<option selected="selected"
									value="/changecurrency/12?returnurl=%2f">Singapore
									Dollars</option>
								<option value="/changecurrency/1?returnurl=%2f">US
									Dollar</option>
								<option value="/changecurrency/6?returnurl=%2f">Euro</option>
								<option value="/changecurrency/7?returnurl=%2f">Hong
									Kong Dollar</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-3"></div>
				<div class="col-xs-7 col-md-7">
					<div class="col-xs-3 col-md-3">

						<div
							th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
							<div class="hi-text">
								Hi : <span sec:authentication="name"></span> <br> Roles: <span
									sec:authentication="principal.authorities"></span>
							</div>
						</div>
					</div>
					<div class="col-xs-9 col-md-9">
						<ul class="nav navbar-nav navbar-right">
							<li><a
								th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								th:href="@{/registration}"><span
									class="glyphicon glyphicon-user"></span> Register</a></li>
							<li><a
								th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>Log
									in</a></li>

							<li><a
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								th:href="@{/add}" class="ico-wishlist"> <span
									class="wishlist-label">Wishlist</span><span
									class="wishlist-qty">(0)</span>
							</a></li>
							<li id="topcartlink"><a
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								th:href="@{/add}" class="ico-cart"> <span class="cart-label">Shopping
										cart</span><span class="cart-qty">(0)</span>
							</a></li>
							<li><a
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
								th:href="@{/logout}"><span
									class="glyphicon glyphicon-log-in"></span>Log out</a></li>
						</ul>

						<!-- Menu Admin -->
						<div
							th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
							<div class="collapse navbar-collapse"
								id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown"><span
											class="glyphicon glyphicon-user"></span>Admin <b
											class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="#"><span
													class="glyphicon glyphicon-user"></span>Profile</a></li>
											<li><a href="#"><span
													class="glyphicon glyphicon-cog"></span>Settings</a></li>
											<li class="divider"></li>
											<li><a href="#"><span
													class="glyphicon glyphicon-off"></span>Logout</a></li>
										</ul></li>
								</ul>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>


	</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<img src="/ImageSystem/logo_vitamin.png" class="img-responsive">
			</div>

			<div class="col-xs-8">
				<nav class="navbar navbar-default navbar-inverse navbar-custom"
					role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle navbar-toggle-custom"
							data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Desplegar navegación</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav under-line">
							<li><a href="#">50+</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Probiotic</a></li>
							<li><a href="#">Co-Enzyme Q10</a></li>
							<li><a href="#">Collagen</a></li>
							<li><a href="#">Vitamins</a></li>
							<li><a href="#">Soap</a></li>
						</ul>

						<div class="row">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control"
										placeholder="Search store">
								</div>
								<button class="btn-custom btn-primary-custom" type="button">
									<i class="glyphicon glyphicon-search icon-search"></i>
								</button>


							</form>
						</div>

					</div>
				</nav>
			</div>
		</div>
	</div>


	<div class="banner-full">
		<div class="container">
			<div class="row">
				<!-- <div class="bg-box"> -->
				<div class="col-md-12"></div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="margin-bottom-5px">
			<div class="row">
				<div class="col-md-6  ">
					<div class="row bg-expert text-white">
						<div class="col-md-6 no-padding">
							<div class="user-pad">
								<h3>EXPERT MONTHLY HEALTH TIPS</h3>

								<button type="button"
									class="btn btn-default-custom box1 button-pad">Read
									more</button>
							</div>
						</div>
						<div class="col-md-6 no-padding">
							<div class="user-image">
								<img
									src="http://media.phillyvoice.com/media/images/iStock-148092412.2e16d0ba.fill-735x490.jpg"
									class="img-responsive thumbnail">
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-1"></div>

				<div class="col-md-6 ">
					<div class="row bg-product text-white">
						<div class="col-md-6 no-padding">
							<div class="user-pad">
								<h3>PRODUCT OFFERS DEALS/DISCOUNTS</h3>

								<button type="button"
									class="btn btn-default-custom box2 button-pad">Read
									more ></button>
							</div>
						</div>
						<div class="col-md-6 no-padding">
							<div class="user-image">
								<img
									src="http://media.phillyvoice.com/media/images/iStock-498888810.2e16d0ba.fill-735x490.jpg"
									class="img-responsive thumbnail">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-sm-2 ">
				<div class="best-seller ">
					<span>Best Seller</span>
				</div>
			</div>

			<div class="col-sm-1">
				<div class="view-by">
					<span>view by </span>
				</div>
			</div>

			<div class="col-sm-2 ">
				<div class="form-group">
					<select id="pref-perpage" class="form-control">
						<option value="2">Category</option>
						<option value="3">Category1</option>
						<option value="4">Category2</option>
						<option value="5">Category3</option>
						<option selected="selected" value="2">Category</option>
					</select>
				</div>
			</div>
		</div>

		<div class="margin-bottom-25px">
			<div class="row">
				<div class="col-sm-3 col-lg-3 col-md-3 "
					th:each="food : ${FoodList}">
					<img th:src="*{food.PicCover}" width="200"
						th:src="*{food.PicCover}" class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a th:href="${'/product/show/' + food.id}" th:text="*{food.name}"></a>
						</h4>
						<h4 class="text-center" th:text="'$'+*{food.price}"></h4>
						<p th:text="*{food.detail}"></p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>

			</div>
		</div>

		<!--Trending Now-->
		<div class="row ">
			<div class="col-sm-2 ">
				<div class="best-seller ">
					<span>Trending Now</span>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="view-by">
					<span>view by </span>
				</div>
			</div>
			<div class="col-sm-2 ">
				<div class="form-group">
					<select id="pref-perpage" class="form-control">
						<option value="2">Category</option>
						<option value="3">Category1</option>
						<option value="4">Category2</option>
						<option value="5">Category3</option>
						<option selected="selected" value="2">Category</option>
					</select>
				</div>
			</div>
		</div>

		<div class="margin-bottom-25px">
			<div class="row">
				<div class="col-sm-3 ">
					<img src="http://www.images-iherb.com/m/CEN-27529-1.jpg"
						class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a href="#">First Product</a>
						</h4>
						<h4 class="text-center">$24.99</h4>
						<p>
							See more snippets like this online store item at <a
								target="_blank" href="http://www.bootsnipp.com">Bootsnipp -
								http://bootsnipp.com</a>.
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>

				<div class="col-sm-3 ">
					<img src="http://www.images-iherb.com/m/DRB-00183-11.jpg"
						class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a href="#">First Product</a>
						</h4>
						<h4 class="text-center">$24.99</h4>
						<p>
							See more snippets like this online store item at <a
								target="_blank" href="http://www.bootsnipp.com">Bootsnipp -
								http://bootsnipp.com</a>.
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>

				<div class="col-sm-3 ">
					<img src="http://www.images-iherb.com/m/NTL-04837-6.jpg"
						class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a href="#">First Product</a>
						</h4>
						<h4 class="text-center">$24.99</h4>
						<p>
							See more snippets like this online store item at <a
								target="_blank" href="http://www.bootsnipp.com">Bootsnipp -
								http://bootsnipp.com</a>.
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>

				<div class="col-sm-3 ">
					<img src="http://www.images-iherb.com/m/CGN-00931-1.jpg"
						class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a href="#">First Product</a>
						</h4>
						<h4 class="text-center">$24.99</h4>
						<p>
							See more snippets like this online store item at <a
								target="_blank" href="http://www.bootsnipp.com">Bootsnipp -
								http://bootsnipp.com</a>.
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>
			</div>
		</div>

		<!--Featured-->
		<div class="row ">
			<div class="col-sm-2 ">
				<div class="best-seller ">
					<span>Featured</span>
				</div>
			</div>
		</div>

		<div class="margin-bottom-5px">
			<div class="row">
				<div class="col-sm-6 ">
					<img src="http://www.images-iherb.com/m/CEN-27529-1.jpg"
						class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a href="#">First Product</a>
						</h4>
						<h4 class="text-center">$24.99</h4>
						<p>
							See more snippets like this online store item at <a
								target="_blank" href="http://www.bootsnipp.com">Bootsnipp -
								http://bootsnipp.com</a>.
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>

				<div class="col-sm-6 ">
					<img src="http://www.images-iherb.com/m/DRB-00183-11.jpg"
						class="center-block" alt="">
					<div class="caption">
						<h4 class="text-center">
							<a href="#">First Product</a>
						</h4>
						<h4 class="text-center">$24.99</h4>
						<p>
							See more snippets like this online store item at <a
								target="_blank" href="http://www.bootsnipp.com">Bootsnipp -
								http://bootsnipp.com</a>.
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<span class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span> <span
								class="glyphicon glyphicon-star"></span>
						</p>
					</div>
					<button type="button" class="btn btn-success">ADD TO CART</button>
				</div>
			</div>
		</div>
		<!--container-->
	</div>


	<div class="banner-footer">
		<div class="banner-footer-inner"></div>

		<div class="banner-footer-content">
			<div class="container">

				<div class="row">

					<div class="col-md-7">
						<p class="text-white">
							<strong>Discount</strong> vitamins, supplements and other
							products direct to you in <span class="text-yellow">Singapore!</span>
						</p>

					</div>

				</div>

			</div>
		</div>

	</div>


	<div class="bg-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-8">
					<div class="sing-up">Sing up to receive special offers be
						e-mail</div>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-1"></div>

				<div class="col-sm-1"></div>

				<div class="col-sm-8 ">

					<div class="col-sm-2">
						<div class="col-sm-6"></div>
						<div class="col-sm-6 ">
							<div class="icon-sendmail">
								<span class="glyphicon glyphicon-envelope"></span>
							</div>

						</div>
					</div>
					<form accept-charset="UTF-8" action="" method="post">
						<div class="col-sm-3 padding-left0">
							<input name="name" class="form-control" placeholder="Full Name"
								type="text">
						</div>
						<div class="col-sm-3 padding-left0">
							<input name="username" class="form-control"
								placeholder="Username" type="text">
						</div>
						<div class="col-sm-3 padding-left0">
							<input name="password" class="form-control"
								placeholder="Password" type="password">
						</div>
						<div class="col-sm-1 padding-left0">
							<button class="btn btn-warning" type="submit">Submit</button>
						</div>
					</form>
				</div>

			</div>

			<div class="bg-footer3">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div class="whyVita_01"></div>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-6" style="margin-top: 45px">
						<p class="have-a-question text-uppercase no-margin">Have a
							question ?</p>
						<p class="check-out">Check out our FAQ's</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-3">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3 ">
								<a href=""
									class="btn btn-success green btn-block text-uppercase">Get
									help now? <span class="glyphicon glyphicon-send"></span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<div class="whyVita_03"></div>
					</div>
					<div class="col-sm-3">
						<div class="whyVita_04"></div>
					</div>
					<div class="col-sm-3">
						<div class="whyVita_05"></div>
					</div>
					<div class="col-sm-3">
						<div class="whyVita_06"></div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<div class="bg-Information">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">Information</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a class="no-padding" href="#">Sitemap</a></li>
						<li><a class="no-padding" href="#">FAQ</a></li>
						<li><a class="no-padding" href="#">Provacy Policy</a></li>
						<li><a class="no-padding" href="#">Trems od Service</a></li>
						<li><a class="no-padding" href="#">About us</a></li>
						<li><a class="no-padding" href="#">Contact us</a></li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">Customer service</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a class="no-padding" href="#">Search</a></li>
						<li><a class="no-padding" href="#">Blog</a></li>
						<li><a class="no-padding" href="#">Forums</a></li>
						<li><a class="no-padding" href="#">Recently viewed
								product</a></li>
						<li><a class="no-padding" href="#">Compare products list</a></li>
						<li><a class="no-padding" href="#">New products</a></li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">My account</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a class="no-padding" href="#">My account</a></li>
						<li><a class="no-padding" href="#">Orders</a></li>
						<li><a class="no-padding" href="#">Addresses</a></li>
						<li><a class="no-padding" href="#">Shopping cart</a></li>
						<li><a class="no-padding" href="#">Wishlist</a></li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">Connect with us</h4>
					<ul class="social-nav">
						<li><a href="#" target="_blank" title="Twitter"
							rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank" title="Facebook"
							rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" title="Google plus"
							rel="nofollow" class="google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" target="_blank" title="Linkedin"
							rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank" title="Pinterest"
							rel="nofollow" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>



	<!-- powerBy -->
	<div class="powerBy">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<span class="powerBy-Text text-left">Powered by nopCommerce
					</span>
				</div>
				<div class="col-xs-6 col-md-6">
					<span class="powerBy-Text text-right">Copyright 2017
						VitaSing. All rights reserved. </span>
				</div>
			</div>
		</div>
	</div>



	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>


</body>

</html>