<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:mvc="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>VitaSing</title>


<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<!-- Bootstrap -->
<link th:href="@{../../css/bootstrap.css}" rel="stylesheet"
	media="screen" />
<!-- custom -->
<link th:href="@{../../css/detail_product.css}" rel="stylesheet"
	media="screen" />
<link th:href="@{../../css/custom.css}" rel="stylesheet" media="screen" />
<link th:href="@{../../css/iconSocail.css}" rel="stylesheet"
	media="screen" />


</head>

<body>

	<div class="margin-bottom-5px">
		<div class="bg-buy1-get1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-white text-uppercase text-center top-highlight">
							<strong>Buy 1, Get 1 half off </strong>select vitamins essentials
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="margin-bottom-5px">
			<div class="row">
				<div class="col-sm-4 ">
					<span class="free-shipping pull-left">FREE SHIPPING&nbsp;</span> <span
						class="free-shipping-lowercase"> on orders $49 or more*</span>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4 ">
					<span class="free-shipping pull-left">FREE CLICK &amp;
						COLLECT&nbsp; </span> <span class="free-shipping-lowercase"> on
						all orders over $20</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="header-upper">
				<div class="col-xs-6  col-md-2">
					<div class="header-selectors-wrapper">
						<div class="currency-selector">
							<select id="customerCurrency" name="customerCurrency"
								onchange="setLocation(this.value);">
								<option selected="selected"
									value="/changecurrency/12?returnurl=%2f">Singapore
									Dollars</option>
								<option value="/changecurrency/1?returnurl=%2f">US
									Dollar</option>
								<option value="/changecurrency/6?returnurl=%2f">Euro</option>
								<option value="/changecurrency/7?returnurl=%2f">Hong
									Kong Dollar</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-4"></div>

				<div class="col-xs-6 col-md-6">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span>
								Register</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Log
								in</a></li>
						<li><a href="#" class="ico-wishlist"> <span
								class="wishlist-label">Wishlist</span><span class="wishlist-qty">(0)</span>
						</a></li>
						<li id="topcartlink"><a href="#" class="ico-cart"> <span
								class="cart-label">Shopping cart</span><span class="cart-qty">(0)</span>
						</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<img src="image/logo.png" class="img-responsive">
			</div>

			<div class="col-xs-8">
				<nav class="navbar navbar-default navbar-inverse navbar-custom"
					role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle navbar-toggle-custom"
							data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Desplegar navegación</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav under-line">
							<li><a href="#">50+</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Probiotic</a></li>
							<li><a href="#">Co-Enzyme Q10</a></li>
							<li><a href="#">Collagen</a></li>
							<li><a href="#">Vitamins</a></li>
							<li><a href="#">Soap</a></li>
						</ul>

						<div class="row">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control"
										placeholder="Search store">
								</div>
								<button class="btn-custom btn-primary-custom" type="button">
									<i class="glyphicon glyphicon-search icon-search"></i>
								</button>
							</form>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>


	<!-- Detail Product -->
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">

					<div class="preview col-md-5">

						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1">
								<img th:src="${PathImage[0].pathImage}" />
							</div>
							<div class="tab-pane" id="pic-2">
								<img th:src="${PathImage[1].pathImage}" />
							</div>
							<div class="tab-pane" id="pic-3">
								<img th:src="${PathImage[2].pathImage}" />
							</div>
							<div class="tab-pane" id="pic-4">
								<img th:src="${PathImage[3].pathImage}" />
							</div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<li class="active"><a data-target="#pic-1" data-toggle="tab"><img
									th:src="${PathImage[0].pathImage}" /></a></li>
							<li th:if="${PathImage.size() >= 1}"><a data-target="#pic-2"
								data-toggle="tab"><img th:src="${PathImage[1].pathImage}" /></a>
							</li>
							<li><a data-target="#pic-3" data-toggle="tab"><img
									th:src="${PathImage[2].pathImage}" /></a></li>
							<li><a data-target="#pic-4" data-toggle="tab"><img
									th:src="${PathImage[3].pathImage}" /></a></li>
						</ul>

					</div>

					<div class="details col-md-7" th:each="food : ${Products}">
						<h3 class="product-title" th:text="*{food.name}"></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span> <span
									class="fa fa-star checked"></span> <span
									class="fa fa-star checked"></span> <span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description" th:text="*{food.detail}"></p>
						<h4>
							Manufacturer : <span style="color: skyblue">Centrum</span>
						</h4>
						<h3>
							Tablets <span style="color: red">*</span>
						</h3>
						<select class="form-control size-tablets" name="expiry-year">
							<option value="13">80</option>
							<option value="14">100</option>
							<option value="15">120</option>
						</select>
						<h4 class="price">
							<span th:text="*{food.price}"></span>
						</h4>

						<div class="action">
							<input value="3" class="size-input" />
							<button class="add-to-cart btn btn-default" type="button">add
								to cart</button>

							<div class="row" style="padding-top: 10px">

								<a th:href="${'/save/wishlist/' + food.id}">
									<button class="like btn btn-default" type="button">
										<span class="fa fa-heart"> Add to Wishlist</span>
									</button>
								</a>
								<button class="like btn btn-default" type="button">
									<span class="fa fa-retweet"> Add to Compare list</span>
								</button>
								<button class="like btn btn-default" type="button">
									<span class="fa fa-envelope-o"> Email a friend</span>
								</button>
							</div>

						</div>
						<div class="row">
							<a class="social-icon facebook" target="blank"
								data-tooltip="Facebook"
								href="http://www.facebook.com/SOJITRAHIREN"> <i
								class="fa fa-facebook"></i>
							</a> <a class="social-icon twitter" target="blank"
								data-tooltip="Twitter"
								href="https://www.twitter.com/Sojitra_Hiren"> <i
								class="fa fa-twitter"></i>
							</a> <a class="social-icon linkedin" target="blank"
								data-tooltip="LinkedIn"
								href="https://www.linkedin.com/in/hirensojitraamreli"> <i
								class="fa fa-linkedin"></i>
							</a> <a class="social-icon google-plus" target="blank"
								data-tooltip="Google +"
								href="https://plus.google.com/+HirenSojitraa"> <i
								class="fa fa-google-plus"></i>
							</a> <a class="social-icon email" target="blank"
								data-tooltip="Contact e-Mail"
								href="mailto:hirensojitra007@gmail.com"> <i
								class="fa fa-envelope-o"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Detail Product -->

	<div class="banner-footer">
		<div class="banner-footer-inner"></div>
		<div class="banner-footer-content">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<p class="text-white">
							<strong>Discount</strong> vitamins, supplements and other
							products direct to you in <span class="text-yellow">Singapore!</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Send Mail -->
	<div class="bg-footer-product" style="padding-bottom: 30px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-8">
					<div class="sing-up">Sing up to receive special offers be
						e-mail</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>

				<div class="col-sm-1"></div>

				<div class="col-sm-8 ">
					<div class="col-sm-2">
						<div class="col-sm-6"></div>
						<div class="col-sm-6 ">
							<div class="icon-sendmail">
								<span class="glyphicon glyphicon-envelope"></span>
							</div>
						</div>
					</div>
					<form accept-charset="UTF-8" action="" method="post">
						<div class="col-sm-3 padding-left0">
							<input name="name" class="form-control" placeholder="Full Name"
								type="text">
						</div>
						<div class="col-sm-3 padding-left0">
							<input name="username" class="form-control"
								placeholder="Username" type="text">
						</div>
						<div class="col-sm-3 padding-left0">
							<input name="password" class="form-control"
								placeholder="Password" type="password">
						</div>
						<div class="col-sm-1 padding-left0">
							<button class="btn btn-warning " type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- foodter menu -->
	<div class="bg-Information">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">Information</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a class="no-padding" href="#">Sitemap</a></li>
						<li><a class="no-padding" href="#">FAQ</a></li>
						<li><a class="no-padding" href="#">Provacy Policy</a></li>
						<li><a class="no-padding" href="#">Trems od Service</a></li>
						<li><a class="no-padding" href="#">About us</a></li>
						<li><a class="no-padding" href="#">Contact us</a></li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">Customer service</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a class="no-padding" href="#">Search</a></li>
						<li><a class="no-padding" href="#">Blog</a></li>
						<li><a class="no-padding" href="#">Forums</a></li>
						<li><a class="no-padding" href="#">Recently viewed
								product</a></li>
						<li><a class="no-padding" href="#">Compare products list</a></li>
						<li><a class="no-padding" href="#">New products</a></li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">My account</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a class="no-padding" href="#">My account</a></li>
						<li><a class="no-padding" href="#">Orders</a></li>
						<li><a class="no-padding" href="#">Addresses</a></li>
						<li><a class="no-padding" href="#">Shopping cart</a></li>
						<li><a class="no-padding" href="#">Wishlist</a></li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3">
					<h4 class="header-menu-Infomation">Connect with us</h4>
					<ul class="social-nav">
						<li><a href="#" target="_blank" title="Twitter"
							rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" target="_blank" title="Facebook"
							rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" title="Google plus"
							rel="nofollow" class="google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" target="_blank" title="Linkedin"
							rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank" title="Pinterest"
							rel="nofollow" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>



	<!-- powerBy -->
	<div class="powerBy">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<span class="powerBy-Text text-left">Powered by nopCommerce
					</span>
				</div>
				<div class="col-xs-6 col-md-6">
					<span class="powerBy-Text text-right">Copyright 2017
						VitaSing. All rights reserved. </span>
				</div>
			</div>
		</div>
	</div>



	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>



</body>

</html>