<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:mvc="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>VitaSing</title>


<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Bootstrap -->
<link th:href="@{../../css/bootstrap.css}" rel="stylesheet" media="screen" />
<!-- custom -->
<link th:href="@{../../css/detail_product.css}" rel="stylesheet" media="screen" />
<link th:href="@{../../css/custom.css}" rel="stylesheet" media="screen" />
<link th:href="@{../../css/iconSocail.css}" rel="stylesheet" media="screen" />


</head>

<body>

	
	<!-- Detail Product -->
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">

					<div class="preview col-md-5">

						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1">
								<img th:src="${PathImage[0].pathImage}" />
							</div>
							<div class="tab-pane" id="pic-2">
								<img th:src="${PathImage[1].pathImage}" />
							</div>
							<div class="tab-pane" id="pic-3">
								<img th:src="${PathImage[2].pathImage}" />
							</div>
							<div class="tab-pane" id="pic-4">
								<img th:src="${PathImage[3].pathImage}" />
							</div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<li class="active"><a data-target="#pic-1" data-toggle="tab"><img
									th:src="${PathImage[0].pathImage}" /></a></li>
							<li th:if="${PathImage.size() >= 1}"><a data-target="#pic-2"
								data-toggle="tab"><img th:src="${PathImage[1].pathImage}" /></a>
							</li>
							<li><a data-target="#pic-3" data-toggle="tab"><img
									th:src="${PathImage[2].pathImage}" /></a></li>
							<li><a data-target="#pic-4" data-toggle="tab"><img
									th:src="${PathImage[3].pathImage}" /></a></li>
						</ul>

					</div>

					<div class="details col-md-7" th:each="food : ${Products}">
						<h3 class="product-title" th:text="*{food.name}"></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span> <span
									class="fa fa-star checked"></span> <span
									class="fa fa-star checked"></span> <span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description" th:text="*{food.detail}"></p>
						<h4>
							Manufacturer : <span style="color: skyblue">Centrum</span>
						</h4>
						<h3>
							Tablets <span style="color: red">*</span>
						</h3>
						<select class="form-control size-tablets" name="expiry-year">
							<option value="13">80</option>
							<option value="14">100</option>
							<option value="15">120</option>
						</select>
						<h4 class="price">
							<span th:text="*{food.price}"></span>
						</h4>

						<div class="action">
							<input value="3" class="size-input" />
							<button class="add-to-cart btn btn-default" type="button">add
								to cart</button>

							<div class="row" style="padding-top: 10px">

								<a th:href="${'/save/wishlist/' + food.id}">
									<button class="like btn btn-default" type="button">
										<span class="fa fa-heart"> Add to Wishlist</span>
									</button>
								</a>
								<button class="like btn btn-default" type="button">
									<span class="fa fa-retweet"> Add to Compare list</span>
								</button>
								<button class="like btn btn-default" type="button">
									<span class="fa fa-envelope-o"> Email a friend</span>
								</button>
							</div>

						</div>
						<div class="row">
							<a class="social-icon facebook" target="blank"
								data-tooltip="Facebook"
								href="http://www.facebook.com/SOJITRAHIREN"> <i
								class="fa fa-facebook"></i>
							</a> <a class="social-icon twitter" target="blank"
								data-tooltip="Twitter"
								href="https://www.twitter.com/Sojitra_Hiren"> <i
								class="fa fa-twitter"></i>
							</a> <a class="social-icon linkedin" target="blank"
								data-tooltip="LinkedIn"
								href="https://www.linkedin.com/in/hirensojitraamreli"> <i
								class="fa fa-linkedin"></i>
							</a> <a class="social-icon google-plus" target="blank"
								data-tooltip="Google +"
								href="https://plus.google.com/+HirenSojitraa"> <i
								class="fa fa-google-plus"></i>
							</a> <a class="social-icon email" target="blank"
								data-tooltip="Contact e-Mail"
								href="mailto:hirensojitra007@gmail.com"> <i
								class="fa fa-envelope-o"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Detail Product -->



	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>



</body>

</html>