<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:mvc="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Wishlist</title>

	<!-- Bootstrap -->
	<link th:href="@{../../css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{../../css/wishlist.css}" rel="stylesheet">

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">
							<div class="row">
								<div class="col-md-6">
									<h5><span class="glyphicon glyphicon-shopping-cart"></span> Wishlist</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row" th:each="food : ${product}">
						<hr>
							<div class="col-md-2"><img class="img-responsive" th:src="*{food.PicCover}">
							</div>
							<div class="col-md-4">
								<h4 class="product-name"><strong th:text="*{food.name}"></strong></h4>
								<h4><small th:text="*{food.detail}"></small></h4>
							</div>
							<div class="col-md-6">
								<div class="col-md-6 text-right">
									<h6><strong th:text="*{food.price}"> <span class="text-muted">x</span></strong></h6>
								</div>
								<div class="col-md-4">
									<input type="text" class="form-control input-md" style="width: 30%" value="1">
								</div>
								<div class="col-md-2">
									<div class="row">
										<button type="button" class="btn btn-success btn-sm" style="margin-bottom: 5px;margin-top: 5px">
										<span class="glyphicon glyphicon-ok"> AddToCart </span>
									</button>
										<button type="button" class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-trash"> Delete </span>
									</button>
									</div>
								</div>
							</div>
							<h4 class="text-right" th:with="result=${food.price},cal=0" th:with="cal=(#{result}*${food.price})">
								Total <strong th:text="${cal}"></strong>
							</h4>
							
						</div>
						<hr>
						<div class="row">
							<div class="text-center">
								<div class="col-md-10 col-xs-6">
									<h6 class="text-right">Update shopping cart</h6>
								</div>
								<div class="col-md-2 col-xs-6">
									<button type="button" class="btn btn-warning btn-sm pull-left">
									<span class="glyphicon glyphicon-refresh">  </span>
								</button>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row text-center">
							<div class="col-md-9">
								<h4 class="text-right">Total <strong>$50.00</strong></h4>
							</div>
							<div class="col-md-3">
								<button type="button" class="btn btn-info">
                           	 <span class="glyphicon glyphicon-user"></span> Email a friend
                       			 </button>
							</div>
						</div>
					</div>
				</div>

				<!--<div class="col-md-12 line"></div>-->


			<div class="enter-text" style="text-align: center;margin-top: 20px">Your wishlist URL for sharing:</div>
			<div class="url-text" style="text-align: center;margin-bottom: 20px">http://linkalanche.azurewebsites.net/1dc5247-ebe9-41a6-99cd-6d2ba653cd89</div>


			</div>

		</div>
		<!-- /.row -->
		<div class="clearfix"></div>
	</div>
	<!-- /.container -->

</body>

</html>